<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="jumbotron text-xs-center">
      <h1 class="display-3">Hello, StarWars!</h1>
      <p class="lead">Using the StarWarsAPI, lets have some Geeky Fun!</p>
      <hr class="my-1">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <h1 class="display-5">What would you like to know more about?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="/people" class="btn btn-warning">People</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="#" class="btn btn-warning">Films</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="#" class="btn btn-warning">StarShips</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="#" class="btn btn-warning">Vehicles</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="#" class="btn btn-warning">Species</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="http://placehold.it/158x150" alt="" class="card-img-top">
        <div class="card-block text-xs-center">
          <a href="#" class="btn btn-warning">Planets</a>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
